<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#写上一个表单#}
<form action="/login/" method="POST">
    <table>
        <tbody>
        <tr>
            <td>邮箱:</td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>
                <button>登录</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>